In [1]:
import pandas as pd

In [2]:
dates= pd.date_range(start='2016', periods=4, freq='Q')

data = range(1,5)

quarterly = pd.Series(data = data, index=dates)

quarterly

2016-03-31    1
2016-06-30    2
2016-09-30    3
2016-12-31    4
Freq: Q-DEC, dtype: int64

In [4]:
#Upsampling to month-end frequency

monthly = quarterly.asfreq('M')
monthly

2016-03-31    1.0
2016-04-30    NaN
2016-05-31    NaN
2016-06-30    2.0
2016-07-31    NaN
2016-08-31    NaN
2016-09-30    3.0
2016-10-31    NaN
2016-11-30    NaN
2016-12-31    4.0
Freq: M, dtype: float64

In [5]:
#Three ways to fill missing values

#Covert series to dataframe using to_frame method, passing column name as a parameter

monthly = monthly.to_frame('baseline')
monthly

            baseline
2016-03-31       1.0
2016-04-30       NaN
2016-05-31       NaN
2016-06-30       2.0
2016-07-31       NaN
2016-08-31       NaN
2016-09-30       3.0
2016-10-31       NaN
2016-11-30       NaN
2016-12-31       4.0

In [7]:
#Chosing a fill method
#bfill: backfill
#ffill: forwardfill

monthly['ffill'] = quarterly.asfreq('M', method='ffill')
monthly['bfill'] = quarterly.asfreq('M', method='bfill')
monthly['value'] = quarterly.asfreq('M', fill_value=0)
monthly

            baseline  ffill  bfill  value
2016-03-31       1.0      1      1      1
2016-04-30       NaN      1      2      0
2016-05-31       NaN      1      2      0
2016-06-30       2.0      2      2      2
2016-07-31       NaN      2      3      0
2016-08-31       NaN      2      3      0
2016-09-30       3.0      3      3      3
2016-10-31       NaN      3      4      0
2016-11-30       NaN      3      4      0
2016-12-31       4.0      4      4      4

In [9]:
#create datetime index
dates = pd.date_range (start='2016', periods=12, freq='M')
dates

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [10]:
#add missing months using .reindex to conform the DataFrame to the new index

quarterly.reindex(dates)

2016-01-31    NaN
2016-02-29    NaN
2016-03-31    1.0
2016-04-30    NaN
2016-05-31    NaN
2016-06-30    2.0
2016-07-31    NaN
2016-08-31    NaN
2016-09-30    3.0
2016-10-31    NaN
2016-11-30    NaN
2016-12-31    4.0
Freq: M, dtype: float64